<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.1</key>
	<real>0</real>
	<key>0.2</key>
	<real>0</real>
	<key>1</key>
	<integer>0</integer>
	<key>2</key>
	<integer>0</integer>
	<key>3</key>
	<string>Thực hiện so sanh vi tri 1 và vị trí 2</string>
	<key>4</key>
	<string>Thực hiện so sánh 2 và 3</string>
	<key>3.1</key>
	<string>Kiểm tra đúng chưa các bạn</string>
	<key>5</key>
	<string>Đổi vị trí 2 và 3</string>
	<key>6</key>
	<string>So sánh 0 và 1</string>
	<key>7</key>
	<string>Thực hiện so sánh 1 và 2</string>
	<key>8</key>
	<string>Thực hiện so sánh 0 và 1</string>
	<key>end</key>
	<string></string>
</dict>
</plist>
