<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<string>    The heapsort algorithm involves preparing the list by first turning it into a max heap.</string>
	<key>01.1</key>
	<string>    The algorithm then repeatedly swaps the first value of the list with the last value, decreasing the range of values considered in the heap operation by one, and sifting the new first value into its position in the heap. </string>
	<key>01.2</key>
	<string>    This repeats until the range of considered values is one value in length.</string>
	<key>02</key>
	<string>    Compare the element with its parent; if they are in the correct order, stop.</string>
	<key>03</key>
	<string>    If not, swap the element with its parent</string>
	<key>04</key>
	<string>    Add the element to the bottom level of the heap.
</string>
	<key>05</key>
	<string></string>
</dict>
</plist>
