<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00.1</key>
	<string>The algorithm divides the input list into two parts: the sublist of items already sorted, which is built up from left to right at the front (left) of the list, and the sublist of items remaining to be sorted that occupy the rest of the list.</string>
	<key>01</key>
	<string>Selection Sort uses a linear search to locate the smallest value in the sequence. </string>
	<key>02</key>
	<string>Selection Sort uses a linear search to locate the smallest value in the sequence. </string>
	<key>03</key>
	<string>Selection Sort uses a linear search to locate the smallest value in the sequence. </string>
	<key>04</key>
	<string>Selection Sort uses a linear search to locate the smallest value in the sequence. </string>
	<key>05</key>
	<string>Selection Sort uses a linear search to locate the smallest value in the sequence. </string>
	<key>06</key>
	<string>Selection Sort uses a linear search to locate the smallest value in the sequence. </string>
	<key>07</key>
	<string>In this case, &quot;1&quot; is the minimum number of list.</string>
	<key>08</key>
	<string>It is swapped with the leftmost number of the list which is &quot;4&quot;</string>
	<key>09</key>
	<string>Now, &quot;1&quot; is in correct location and the left list is fully sorted. </string>
	<key>10</key>
	<string>Linear search is used again to locate the smallest value in the remaining unsorted list</string>
	<key>11</key>
	<string>Linear search is used again to locate the smallest value in the remaining unsorted list</string>
	<key>12</key>
	<string>Linear search is used again to locate the smallest value in the remaining unsorted list</string>
	<key>13</key>
	<string>Linear search is used again to locate the smallest value in the remaining unsorted list</string>
	<key>14</key>
	<string>Linear search is used again to locate the smallest value in the remaining unsorted list</string>
	<key>15</key>
	<string>Now, &quot;2&quot; is the smallest number in the unsorted list.</string>
	<key>16</key>
	<string>&quot;2&quot; is swapped with the left most number of the unsorted list which is &quot;4&quot;</string>
	<key>17</key>
	<string>&quot;2&quot; is now placed in the sorted list.</string>
	<key>18</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>19</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>20</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>21</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>22</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>23</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>24</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>25</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>26</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>27</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>28</key>
	<string>If the smallest value happens to already be in the leftmost position, no operation is carried out.</string>
	<key>29</key>
	<string>If the smallest value happens to already be in the leftmost position, no operation is carried out.</string>
	<key>30</key>
	<string>Linear search is used again to locate the smallest value in the remaining unsorted list</string>
	<key>31</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>32</key>
	<string>Again, the smallest value is in the leftmost position. </string>
	<key>33</key>
	<string>No operation is carried out</string>
	<key>34</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>35</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>36</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>37</key>
	<string>The same operations are repeated until all of the numbers are fully sorted</string>
	<key>end</key>
	<string></string>
</dict>
</plist>
